<!-- <ion-app>
<ion-header>
   <div style=" text-align: center">
    <ion-row class="rowbg">
      <ion-col size="" class="title" style="color: aliceblue; padding-top: 1%;" >
      <ion-title>ONLINE SHOPPING</ion-title>
      </ion-col>
    </ion-row>
   </div>
</ion-header>

<ion-content class="ioncontent" > 
  -->
  <!-- <ion-row class="login_box">
    <ion-col size="12">
      <ion-card >
        <ion-row class="usr">
        <ion-col sizeSm="100%">
        <ion-label position="User">User</ion-label> -->
       <!--<ion-input placeholder="username/email" class="us_size" ></ion-input>
      <ion-input placeholder="password" type="password"></ion-input>
      </ion-col>
      </ion-row>
      <br>
      <ion-row>
      <ion-col>
      <ion-button class="bt1">login</ion-button>
      <ion-button class="bt2">signup</ion-button>
      </ion-col> 
      </ion-row>
    </ion-card>
    </ion-col> -->

  <!-- </ion-row> -->
<!-- </ion-content>







</ion-app> -->
<ion-app>
<ion-header>
  <ion-toolbar>
    <ion-title>Create Product</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <form (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label>Name</ion-label>
        <ion-input [(ngModel)]="name" name="name" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Price</ion-label>
        <ion-input type="number" [(ngModel)]="price" name="price" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Description</ion-label>
        <ion-textarea [(ngModel)]="description" name="description" required></ion-textarea>
      </ion-item>
      <ion-button type="submit">Create</ion-button>
    </form>
  </ion-list>
</ion-content>
</ion-app>