.title{
    color: black;
    font-family: sans-serif;
}

.login_box{
   
     color: black;
     margin-top: 125px;
     margin-left: 300px;
     margin-right:300px;


     ion-card{
        height: 350px;
        width: 100%;
        .usr{
            padding-top:35px;
            padding-left:20%;
            .us_size{
                height: 80px;
            }
        }
        .bt1{
            padding-left: 30px;
        }
        .bt2{
            padding-left: 100px;
        }
    }
}
.ioncontent::part(scroll){
   background: url('/assets/img/7889361.jpg') repeat;
}